# Subfolders to ignore
database/registry/*/
database/stateland/*/
server/stateland/deploy/*/

# Files to ignore 
Thumbs.db
thumbs.db
*.log
# Ignore any certificate keystores to ensure private keys
# are not uploaded to Github by mistake. 
*.jks
